* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
      45deg,
      rgb(20, 69, 134) 0%,
      hsla(352, 96%, 45%, 0) 70%
    ),
    linear-gradient(135deg, rgb(52, 179, 126) 10%, hsla(253, 95%, 42%, 0) 80%),
    linear-gradient(225deg, rgb(28, 138, 136) 10%, hsla(179, 91%, 45%, 0) 80%),
    linear-gradient(315deg, rgb(30, 156, 28) 100%, hsla(119, 96%, 49%, 0) 70%);
}

.red {
  position: relative;
  background-color: rgb(197, 225, 240);
}

.blue {
  position: relative;
  background-color: rgb(197, 225, 240);
}
.green {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.brown {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.gray {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.lightgreen {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.violet {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.cadetblue {
  background-color: rgb(197, 225, 240);
  position: relative;
}
.yellow {
  background-color: rgb(197, 225, 240);
  position: relative;
}

.red::before {
  content: "\f0e7";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blue::before {
  content: "\f1b3";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.green::before {
  content: "\f1bb";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brown::before {
  content: "\f084";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gray::before {
  content: "\f0e9";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightgreen::before {
  content: "\f109";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.violet::before {
  content: "\f21c";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cadetblue::before {
  content: "\f0f9";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yellow::before {
  content: "\f186";
  font-family: "FontAwesome";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.off {
  background-color: transparent;

  color: transparent;
}
.hidden {
  position: relative;
  display: flex;
  background: black;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 85%;
}

.element {
  flex-basis: 30%;
  flex-grow: 1;
  border: 3px solid rgb(36, 150, 170);
  border-radius: 15px;

  font-size: 34px;
}
.wrapp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  display: none;
}
.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 60%;
  border-radius: 25px;
  background: radial-gradient(circle, rgb(43, 44, 46) 0%, rgb(25, 25, 25) 93%);
  z-index: 2;
}

.box h1 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}

.box p {
  font-size: 30px;
  color: white;
}

.box button {
  font-size: 20px;
  padding: 15px 30px;
  background-color: rgb(35, 194, 3);

  border-radius: 7px;
  border: aqua;
}

span {
  font-size: 25px;
  color: rgb(209, 83, 24);
}

@media (min-width: 600px) {
  .wrapper {
    width: 70%;

    height: 75%;
  }

  .element {
    font-size: 40px;
  }
}
@media (min-width: 900px) {
  .wrapper {
    width: 60%;

    height: 70%;
  }

  .element {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 50%;

    height: 75%;
  }

  .element {
    font-size: 65px;
  }
}
